.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column__w4U4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__w4U4 {
    width: 100%;
  }
}
.plan___7MMnO:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__rlchK {
  font-size: 48px;
}
.freeBox__lpCpJ {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__lpCpJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lpCpJ > :global(.__wab_flex-container) > *,
.freeBox__lpCpJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lpCpJ > :global(.__wab_flex-container) > picture > img,
.freeBox__lpCpJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__cvIQg:global(.__wab_instance) {
  position: relative;
}
.bullet__b4QnM:global(.__wab_instance) {
  position: relative;
}
.bullet__n7Pym:global(.__wab_instance) {
  position: relative;
}
.button__eMwlH:global(.__wab_instance) {
  position: relative;
}
.svg___8EGxt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qPO8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___7Pk1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7Pk1Z {
    width: 100%;
  }
}
.plan__ilFu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__m6VGb {
  font-size: 48px;
}
.freeBox__c3Uh7 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__c3Uh7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c3Uh7 > :global(.__wab_flex-container) > *,
.freeBox__c3Uh7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c3Uh7 > :global(.__wab_flex-container) > picture > img,
.freeBox__c3Uh7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__y52Cq:global(.__wab_instance) {
  position: relative;
}
.bullet__sAvYy:global(.__wab_instance) {
  position: relative;
}
.bullet__n1Ptv:global(.__wab_instance) {
  position: relative;
}
.bullet__l81F:global(.__wab_instance) {
  position: relative;
}
.button__ywLm0:global(.__wab_instance) {
  position: relative;
}
.svg__pnvf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___97Rw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___8HAwj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___8HAwj {
    width: 100%;
  }
}
.plan___5YcXx:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__oLM {
  font-size: 48px;
}
.freeBox__uhchX {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__uhchX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uhchX > :global(.__wab_flex-container) > *,
.freeBox__uhchX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uhchX > :global(.__wab_flex-container) > picture > img,
.freeBox__uhchX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__k6G8R:global(.__wab_instance) {
  position: relative;
}
.bullet__xwGsl:global(.__wab_instance) {
  position: relative;
}
.bullet___7RycP:global(.__wab_instance) {
  position: relative;
}
.button__nbX21:global(.__wab_instance) {
  position: relative;
}
.svg__vhl3J {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7SngI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__lg88Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__lg88Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__lg88Q > :global(.__wab_flex-container) > *,
.freeBox__lg88Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lg88Q > :global(.__wab_flex-container) > picture > img,
.freeBox__lg88Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__lW1M:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__paUQ:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
