.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___14YFq {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-ZCq0QW9JX2iGBj);
}
.freeBox___4AugR {
  width: 100%;
  height: auto;
  max-width: var(--token-jj2bjDcMm7T3IJ);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___4AugR > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___4AugR > :global(.__wab_flex-container) > *,
.freeBox___4AugR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4AugR > :global(.__wab_flex-container) > picture > img,
.freeBox___4AugR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4AugR {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4AugR > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4AugR > :global(.__wab_flex-container) > *,
  .freeBox___4AugR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4AugR > :global(.__wab_flex-container) > picture > img,
  .freeBox___4AugR
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__l3Bg0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__l3Bg0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__l3Bg0 > :global(.__wab_flex-container) > *,
.freeBox__l3Bg0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l3Bg0 > :global(.__wab_flex-container) > picture > img,
.freeBox__l3Bg0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink___06Cry:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qDwv {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__lK0Wo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__kcm9W {
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__kcm9W:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__gLv8C {
  position: relative;
  font-size: 14px;
  color: var(--token-WIwYNkXwFPZ58v);
}
.link__pAvCq {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__pAvCq:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__sc0Gc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__sc0Gc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__sc0Gc > :global(.__wab_flex-container) > *,
.freeBox__sc0Gc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sc0Gc > :global(.__wab_flex-container) > picture > img,
.freeBox__sc0Gc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sc0Gc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sc0Gc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sc0Gc > :global(.__wab_flex-container) > *,
  .freeBox__sc0Gc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sc0Gc > :global(.__wab_flex-container) > picture > img,
  .freeBox__sc0Gc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__biZrK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__biZrK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__biZrK > :global(.__wab_flex-container) > *,
.freeBox__biZrK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__biZrK > :global(.__wab_flex-container) > picture > img,
.freeBox__biZrK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___6Ma94 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__qerob {
  font-size: 14px;
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
}
.root .link__qerob:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rhXWq {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__rhXWq:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rjyco {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__rjyco:hover {
  color: var(--token-NEon4Y--Z);
}
.link___9Dp70 {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link___9Dp70:hover {
  color: var(--token-NEon4Y--Z);
}
.link__pgh5W {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__pgh5W:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__leMpD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__leMpD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__leMpD > :global(.__wab_flex-container) > *,
.freeBox__leMpD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__leMpD > :global(.__wab_flex-container) > picture > img,
.freeBox__leMpD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__mdAl3 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__ox3VT {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__ox3VT:hover {
  color: var(--token-NEon4Y--Z);
}
.link___9ZKCu {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link___9ZKCu:hover {
  color: var(--token-NEon4Y--Z);
}
.link___7VcBk {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link___7VcBk:hover {
  color: var(--token-NEon4Y--Z);
}
.link__aI5Lk {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__aI5Lk:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cDsXe {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__cDsXe:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__vlEar {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__vlEar > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vlEar > :global(.__wab_flex-container) > *,
.freeBox__vlEar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vlEar > :global(.__wab_flex-container) > picture > img,
.freeBox__vlEar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qCh5 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___1OlKs {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link___1OlKs:hover {
  color: var(--token-NEon4Y--Z);
}
.link__q5BXy {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__q5BXy:hover {
  color: var(--token-NEon4Y--Z);
}
.link__yJgOf {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__yJgOf:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vXd4F {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__vXd4F:hover {
  color: var(--token-NEon4Y--Z);
}
.link___5Cu7U {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link___5Cu7U:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__f0FCl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__f0FCl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__f0FCl > :global(.__wab_flex-container) > *,
.freeBox__f0FCl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f0FCl > :global(.__wab_flex-container) > picture > img,
.freeBox__f0FCl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__nKO6 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__c6Gh {
  position: relative;
  font-size: 14px;
  color: var(--token-WIwYNkXwFPZ58v);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__eFRo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__aDma {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__vx8Rt {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__uCohg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__z751T {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-ZCq0QW9JX2iGBj);
}
.freeBox__afbJq {
  width: 100%;
  height: auto;
  max-width: var(--token-jj2bjDcMm7T3IJ);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__afbJq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__afbJq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__afbJq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__afbJq > :global(.__wab_flex-container) > *,
  .freeBox__afbJq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__afbJq > :global(.__wab_flex-container) > picture > img,
  .freeBox__afbJq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__p0WEl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__eec3 {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  height: auto;
  font-size: 14px;
}
.root .link__eec3:hover {
  text-decoration-line: underline;
}
.link__sdllh {
  position: relative;
  color: var(--token-WIwYNkXwFPZ58v);
  font-size: 14px;
}
.root .link__sdllh:hover {
  text-decoration-line: underline;
}
.text__we4Cp {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-WIwYNkXwFPZ58v);
}
.freeBox___7S0A7 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7S0A7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___7S0A7 > :global(.__wab_flex-container) > *,
.freeBox___7S0A7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7S0A7 > :global(.__wab_flex-container) > picture > img,
.freeBox___7S0A7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__qortz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___8Vya6 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___8Vya6:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__n6UMy:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__noOJs {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__noOJs:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__fOv4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___4TYsU {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___4TYsU:hover {
  color: var(--token-dph1wZ7NjV9);
}
