.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__vlfK3 {
  width: 100%;
  height: auto;
  max-width: var(--token-jj2bjDcMm7T3IJ);
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__vlfK3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__vlfK3 > :global(.__wab_flex-container) > *,
.freeBox__vlfK3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vlfK3 > :global(.__wab_flex-container) > picture > img,
.freeBox__vlfK3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__pZ8Be {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__pZ8Be > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__pZ8Be > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__pZ8Be > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__pZ8Be > :global(.__wab_flex-container) > *,
.columns__pZ8Be > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pZ8Be > :global(.__wab_flex-container) > picture > img,
.columns__pZ8Be
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pZ8Be {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pZ8Be > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pZ8Be > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pZ8Be > :global(.__wab_flex-container) > *,
  .columns__pZ8Be > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__pZ8Be > :global(.__wab_flex-container) > picture > img,
  .columns__pZ8Be
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__rdja {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rdja {
    width: 100%;
  }
}
.freeBox___1Drti {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___1Drti > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___1Drti > :global(.__wab_flex-container) > *,
.freeBox___1Drti > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Drti > :global(.__wab_flex-container) > picture > img,
.freeBox___1Drti
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Drti {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Drti > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__wrOin {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__gv3H8 {
  position: relative;
  text-align: left;
}
.bullet__eBQfi:global(.__wab_instance) {
  position: relative;
}
.bullet___9SqZg:global(.__wab_instance) {
  position: relative;
}
.bullet__efPai:global(.__wab_instance) {
  position: relative;
}
.text__lEhBx {
  position: relative;
  text-align: left;
}
.freeBox___3PgWu {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___3PgWu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___3PgWu > :global(.__wab_flex-container) > *,
.freeBox___3PgWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3PgWu > :global(.__wab_flex-container) > picture > img,
.freeBox___3PgWu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3PgWu {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3PgWu > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3PgWu > :global(.__wab_flex-container) > *,
  .freeBox___3PgWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3PgWu > :global(.__wab_flex-container) > picture > img,
  .freeBox___3PgWu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__luugo:global(.__wab_instance) {
  position: relative;
}
.svg__j1KRs {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__kiZh0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hhqdz:global(.__wab_instance) {
  position: relative;
}
.svg__bqktD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__bMpYa {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___979E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___979E {
    width: 100%;
  }
}
.img__l4I8W {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__l4I8W > picture > img {
  object-fit: cover;
}
.img__l4I8W > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns___7RgA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns___7RgA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___7RgA > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___7RgA > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___7RgA > :global(.__wab_flex-container) > *,
.columns___7RgA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___7RgA > :global(.__wab_flex-container) > picture > img,
.columns___7RgA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7RgA {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7RgA > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7RgA > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7RgA > :global(.__wab_flex-container) > *,
  .columns___7RgA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___7RgA > :global(.__wab_flex-container) > picture > img,
  .columns___7RgA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column___4AGZd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___4AGZd {
    width: 100%;
  }
}
.img__w9OyS {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__w9OyS > picture > img {
  object-fit: cover;
}
.img__w9OyS > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__mgWzZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__mgWzZ {
    width: 100%;
  }
}
.freeBox__ogBp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ogBp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ogBp > :global(.__wab_flex-container) > *,
.freeBox__ogBp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ogBp > :global(.__wab_flex-container) > picture > img,
.freeBox__ogBp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ogBp {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ogBp > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__hUMcE {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__tGjmm {
  position: relative;
  text-align: left;
}
.bullet__mmant:global(.__wab_instance) {
  position: relative;
}
.bullet__aUr5P:global(.__wab_instance) {
  position: relative;
}
.bullet__eFaA:global(.__wab_instance) {
  position: relative;
}
.text___173U {
  position: relative;
  text-align: left;
}
.freeBox__b4AlT {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__b4AlT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__b4AlT > :global(.__wab_flex-container) > *,
.freeBox__b4AlT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b4AlT > :global(.__wab_flex-container) > picture > img,
.freeBox__b4AlT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b4AlT {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b4AlT > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b4AlT > :global(.__wab_flex-container) > *,
  .freeBox__b4AlT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__b4AlT > :global(.__wab_flex-container) > picture > img,
  .freeBox__b4AlT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__zSwPc:global(.__wab_instance) {
  position: relative;
}
.svg__cu6Re {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__wZj34 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jnbVr:global(.__wab_instance) {
  position: relative;
}
.svg__wT7B3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__nqXAz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
